body {
  background-color: #1e3a63;
}

.ant-card {
  width: 70%;
  margin: 15px auto;
  border-radius: 15px;
}

#register {
  border: 1px solid #f0f0f0;
  background: #fff;
  width: 70%;
  margin: 30px auto;
  padding: 20px;
  border-radius: 15px;
}
